flows_raspberrypi.json
[{"id":"8ae0296.dd23fd8","type":"tab","label":"Yeelights","disabled":false,"info":""},{"id":"12f46b4d.7bdec5","type":"subflow","name":"Network Map","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[],"env":[]},{"id":"c3704823.d9a2c8","type":"subflow","name":"Pairing Notifications","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"2b5545f6.76c78a","type":"subflow","name":"Devices","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"69f46504.38452c","type":"subflow","name":"Status","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"187f087.4c5a7f8","type":"subflow","name":"Logging Level","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"ce455d4c.9fb48","type":"subflow","name":"Remove Device","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"e8a7aa4e.e218f8","type":"subflow","name":"Permit Join","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"ca781fd9.6b7f","type":"subflow","name":"Rename Device","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[]},{"id":"4f4b7f20.da961","type":"ui_group","z":"2b5545f6.76c78a","name":"Devices","tab":"10c11158.553caf","order":1,"disp":true,"width":"12","collapse":false},{"id":"ac38c8bf.244838","type":"ui_group","z":"","name":"Status","tab":"10c11158.553caf","order":2,"disp":true,"width":"6","collapse":false},{"id":"78b80d1b.2ba3b4","type":"ui_group","z":"187f087.4c5a7f8","name":"Logging Level","tab":"10c11158.553caf","order":4,"disp":true,"width":"6","collapse":false},{"id":"a2d7dbe.5177028","type":"ui_group","z":"ce455d4c.9fb48","name":"Remove Device","tab":"10c11158.553caf","order":5,"disp":true,"width":"6","collapse":false},{"id":"7739620b.e11e5c","type":"mqtt-broker","z":"","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"domoticz/bridge/state","birthQos":"0","birthPayload":"online","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"27073cb4.ff33e4","type":"ui_group","z":"","name":"Permit Join","tab":"10c11158.553caf","order":3,"disp":true,"width":"6","collapse":false},{"id":"c7990d2f.875df","type":"ui_group","z":"","name":"Rename Device","tab":"10c11158.553caf","order":6,"disp":true,"width":"6","collapse":false},{"id":"7ceabf39.6d12f","type":"mqtt-broker","z":"","name":"MQTT","broker":"192.168.178.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10c11158.553caf","type":"ui_tab","z":"","name":"Zigbee2MQTT Admin Panel","icon":"dashboard"},{"id":"885c613.e6044a","type":"yeelight-compat-hue-config","z":"","hostname":"192.168.1.118","port":"55443","name":"Weegle room"},{"id":"ea5fb048.513a9","type":"yeelight-config","z":""},{"id":"95cea5f4.34ac68","type":"mqtt in","z":"12f46b4d.7bdec5","name":"zigbee2mqtt/out","topic":"zigbee2mqtt/bridge/networkmap/graphviz","qos":"2","broker":"7739620b.e11e5c","x":120,"y":140,"wires":[["9dd20ce9.42699"]]},{"id":"a81fa05a.788d1","type":"http in","z":"12f46b4d.7bdec5","name":"","url":"/adminpanelapi/networkmap/graphviz","method":"get","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["bd28c838.baa438"]]},{"id":"90cde6a.b27d218","type":"http response","z":"12f46b4d.7bdec5","name":"","x":610,"y":200,"wires":[]},{"id":"bd28c838.baa438","type":"function","z":"12f46b4d.7bdec5","name":"get from flow","func":"var networkmap = flow.get('networkmap');\n\nmsg.payload = networkmap;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["90cde6a.b27d218"]]},{"id":"548aadc2.0938a4","type":"inject","z":"12f46b4d.7bdec5","name":"","topic":"","payload":"graphviz","payloadType":"str","repeat":"30","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":80,"wires":[["bff890ed.80b2"]]},{"id":"9dd20ce9.42699","type":"function","z":"12f46b4d.7bdec5","name":"store in flow","func":"flow.set('networkmap',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[[]]},{"id":"bff890ed.80b2","type":"mqtt out","z":"12f46b4d.7bdec5","name":"zigbee2mqtt/in","topic":"zigbee2mqtt/bridge/networkmap","qos":"","retain":"","broker":"7ceabf39.6d12f","x":280,"y":80,"wires":[]},{"id":"1d72587f.943828","type":"http in","z":"12f46b4d.7bdec5","name":"","url":"/adminpanelapi/networkmap/viz/:engine","method":"get","upload":false,"swaggerDoc":"","x":210,"y":260,"wires":[["898367a7.86f9e8"]]},{"id":"f69fa6a8.33df48","type":"http response","z":"12f46b4d.7bdec5","name":"","statusCode":"","headers":{},"x":810,"y":260,"wires":[]},{"id":"ac94d28f.461e5","type":"function","z":"12f46b4d.7bdec5","name":"generate viz html","func":"var html = `<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>NetworkMap</title>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/viz.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/full.render.js\"></script>\n    <script src='https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js'></script>\n    <style>\n    svg {\n      width: 100% !important;\n      height: 100% !important;\n      min-width: 100% !important;\n      min-height: 80% !important;\n    }\n    </style>\n  </head>\n  <body>\n    <div id=\"output\"></div>\n    \n    <script>\n        var graphData = '${(flow.get('networkmap')).replace(/(\\r\\n|\\n|\\r)/gm,\"\")}';\n        var vizOptions = { format: 'svg', engine: '${msg.engine}'}\n        var graph = document.querySelector(\"#output\");\n        var svg = graph.querySelector(\"svg\");\n        if (svg) {\n          graph.removeChild(svg);\n        }        \n\n        var viz = new Viz();\n\n        viz.renderSVGElement(graphData, vizOptions)\n          .then(function(svg) {\n            svg.id = \"svg_output\";\n            graph.appendChild(svg);              \n            \n            panZoom = svgPanZoom(svg, {\n              zoomEnabled: true,\n              controlIconsEnabled: true,\n              contain: true,\n              center: true,\n              minZoom: 0.1\n            });\n\n            svg.addEventListener('paneresize', function(e) {\n              panZoom.resize();\n            }, false);\n            window.addEventListener('resize', function(e) {\n              panZoom.resize();\n            });\n          })\n          .catch(error => {\n            // Create a new Viz instance (@see Caveats page for more info)\n            viz = new Viz();\n  \n            // Possibly display the error\n            console.error(error);\n          });\n    </script>\n  </body>\n</html>\n`\n\nmsg.payload = html;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["f69fa6a8.33df48"]]},{"id":"898367a7.86f9e8","type":"function","z":"12f46b4d.7bdec5","name":"set engine","func":"var availableEngines = ['circo', 'dot', 'fdp', 'neato', 'osage', 'twopi']\nif(availableEngines.includes(msg.req.params.engine)) { msg.engine = msg.req.params.engine }\nelse { msg.engine = 'dot' }\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["ac94d28f.461e5"]]},{"id":"b518c5d.8106238","type":"mqtt in","z":"c3704823.d9a2c8","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"7739620b.e11e5c","x":290,"y":140,"wires":[["b57aaa6f.9a8748"]]},{"id":"b57aaa6f.9a8748","type":"json","z":"c3704823.d9a2c8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":140,"wires":[["ec3b0c64.235e3","c7a73cf0.52487","f2e07f63.9f445"]]},{"id":"6b4605ab.6fb33c","type":"ui_toast","z":"c3704823.d9a2c8","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":80,"wires":[]},{"id":"ec3b0c64.235e3","type":"function","z":"c3704823.d9a2c8","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"connecting with device\") {\n\nmsg.payload = (\"A device is attempting to pair...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["6b4605ab.6fb33c"]]},{"id":"93a091d.854c97","type":"comment","z":"c3704823.d9a2c8","name":"Notification","info":"","x":110,"y":140,"wires":[]},{"id":"3e1dc7b6.fb42c8","type":"comment","z":"c3704823.d9a2c8","name":"Pairing","info":"","x":590,"y":80,"wires":[]},{"id":"81b6536d.a1566","type":"ui_toast","z":"c3704823.d9a2c8","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":200,"wires":[]},{"id":"c7a73cf0.52487","type":"function","z":"c3704823.d9a2c8","name":"Notification","func":"if(msg.payload.type == \"device_connected\") {\n\nmsg.payload = (\"Device paired successfully: \" + msg.payload.message);\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["81b6536d.a1566"]]},{"id":"973cf3a2.c4411","type":"comment","z":"c3704823.d9a2c8","name":"Paired","info":"","x":590,"y":200,"wires":[]},{"id":"d415bf09.489aa","type":"ui_toast","z":"c3704823.d9a2c8","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1030,"y":140,"wires":[]},{"id":"f2e07f63.9f445","type":"function","z":"c3704823.d9a2c8","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"device incoming\") {\n\nmsg.payload = (\"A device is incoming or repairing...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":830,"y":140,"wires":[["d415bf09.489aa"]]},{"id":"f0429dad.7e5a6","type":"comment","z":"c3704823.d9a2c8","name":"Incoming or Repairing","info":"","x":640,"y":140,"wires":[]},{"id":"e68c41a.85e6ac","type":"mqtt in","z":"2b5545f6.76c78a","name":"zigbee2mqtt/out devices","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"7739620b.e11e5c","x":350,"y":140,"wires":[["97925f3b.94071"]]},{"id":"3d20ff86.d8914","type":"ui_template","z":"2b5545f6.76c78a","group":"4f4b7f20.da961","name":"","order":0,"width":"12","height":"12","format":"<table>\n<tr>\n    <td><B><U>Name:</U></B></td>\n    <td><B><U>ieeeAddr:</U></B></td>\n    <td><B><U>Model:</U></B></td>\n    <td><B><U>Type:</U></B></td>\n</tr>\n  <tr ng-repeat=\"obj in msg.payload.message\">\n    <td>{{ obj.friendly_name }}</td>\n    <td>{{ obj.ieeeAddr }}</td>\n    <td>{{ obj.model }}</td>\n    <td>{{ obj.type }}</td>\n  </tr>\n\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"569ce6d.3e6ee18","type":"mqtt out","z":"2b5545f6.76c78a","name":"zigbee2mqtt/in devices","topic":"zigbee2mqtt/bridge/config/devices","qos":"","retain":"","broker":"7739620b.e11e5c","x":580,"y":60,"wires":[]},{"id":"74611298.dc1d8c","type":"inject","z":"2b5545f6.76c78a","name":"Request Device List","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":true,"onceDelay":0.1,"x":360,"y":60,"wires":[["569ce6d.3e6ee18"]]},{"id":"46a34e70.10b0b","type":"comment","z":"2b5545f6.76c78a","name":"Request Device List","info":"","x":130,"y":60,"wires":[]},{"id":"4ca4d8fd.809618","type":"comment","z":"2b5545f6.76c78a","name":"Receive Device List","info":"","x":130,"y":140,"wires":[]},{"id":"97925f3b.94071","type":"json","z":"2b5545f6.76c78a","name":"","property":"payload","action":"","pretty":false,"x":530,"y":140,"wires":[["3d20ff86.d8914","9d3649a4.478748","c6644475.a95b08"]]},{"id":"db566e00.e5b28","type":"http in","z":"2b5545f6.76c78a","name":"","url":"/adminpanelapi/devicelist","method":"get","upload":false,"swaggerDoc":"","x":530,"y":220,"wires":[["b13cb8fb.899da8"]]},{"id":"9d3649a4.478748","type":"function","z":"2b5545f6.76c78a","name":"Store Data","func":"flow.set('devicelist',msg.payload);","outputs":1,"noerr":0,"x":310,"y":220,"wires":[[]]},{"id":"5197fa30.9e6534","type":"http response","z":"2b5545f6.76c78a","name":"","x":870,"y":220,"wires":[]},{"id":"b13cb8fb.899da8","type":"function","z":"2b5545f6.76c78a","name":"Get Data","func":"var devicelist = flow.get('devicelist');\nmsg.payload = devicelist;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["5197fa30.9e6534"]]},{"id":"4def5d5b.3af084","type":"comment","z":"2b5545f6.76c78a","name":"HTTP JSON API","info":"","x":120,"y":220,"wires":[]},{"id":"c6644475.a95b08","type":"function","z":"2b5545f6.76c78a","name":"Store Globally","func":"global.set('zigbee2mqttdevicelist',msg.payload.message);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":120,"wires":[[]]},{"id":"f7c612f8.a2d63","type":"mqtt in","z":"69f46504.38452c","name":"zigbee2mqtt/bridge state","topic":"zigbee2mqtt/bridge/state","qos":"2","broker":"7739620b.e11e5c","x":270,"y":80,"wires":[["cc5845fc.27bee8"]]},{"id":"cc5845fc.27bee8","type":"function","z":"69f46504.38452c","name":"Format Data","func":"flow.set('bridgestate',msg.payload);\nvar bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["cc81ba0b.d9ed48"]]},{"id":"2cfdf82f.9a67a8","type":"ui_template","z":"69f46504.38452c","group":"ac38c8bf.244838","name":"","order":0,"width":"6","height":"2","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <td>Bridge</td>\n    <td>{{msg.payload.bridgestate}}</td>\n  </tr>\n  <tr>\n    <td>Devices</td>\n    <td>{{msg.payload.numberofdevices}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"9cc328f9.3107b8","type":"function","z":"69f46504.38452c","name":"Format Data","func":"var bridgestate = flow.get('bridgestate');\nvar devicelist = global.get('zigbee2mqttdevicelist');\nmsg.payload = {}\nmsg.payload.bridgestate = bridgestate;\nmsg.payload.numberofdevices = devicelist.length;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["2cfdf82f.9a67a8"]]},{"id":"5591c1cc.09008","type":"inject","z":"69f46504.38452c","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":140,"wires":[["9cc328f9.3107b8"]]},{"id":"cc81ba0b.d9ed48","type":"debug","z":"69f46504.38452c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":80,"wires":[]},{"id":"acb5a06b.9e788","type":"comment","z":"69f46504.38452c","name":"Get state","info":"","x":80,"y":80,"wires":[]},{"id":"3e85eabe.24fbe6","type":"comment","z":"69f46504.38452c","name":"Update Web UI on Interval","info":"","x":130,"y":140,"wires":[]},{"id":"163bd909.0179b7","type":"http in","z":"69f46504.38452c","name":"","url":"/adminpanelapi/state","method":"get","upload":false,"swaggerDoc":"","x":270,"y":220,"wires":[["e3c404ab.293368"]]},{"id":"a079fd11.ef3bf","type":"http response","z":"69f46504.38452c","name":"","x":590,"y":220,"wires":[]},{"id":"e3c404ab.293368","type":"function","z":"69f46504.38452c","name":"Get Data","func":"var bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["a079fd11.ef3bf"]]},{"id":"16666eac.a10771","type":"comment","z":"69f46504.38452c","name":"HTTP API","info":"","x":80,"y":220,"wires":[]},{"id":"560f2548.045bfc","type":"ui_dropdown","z":"187f087.4c5a7f8","name":"","label":"","place":"Select option","group":"78b80d1b.2ba3b4","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Info","value":"info","type":"str"},{"label":"Debug","value":"debug","type":"str"},{"label":"Warn","value":"warn","type":"str"},{"label":"Error","value":"error","type":"str"}],"payload":"","topic":"","x":120,"y":60,"wires":[["fbb8ff77.a7707"]]},{"id":"fbb8ff77.a7707","type":"mqtt out","z":"187f087.4c5a7f8","name":"zigbee2mqtt/in Logging Level","topic":"zigbee2mqtt/bridge/config/log_level","qos":"","retain":"","broker":"7ceabf39.6d12f","x":380,"y":60,"wires":[]},{"id":"1e83c767.4a1399","type":"ui_text_input","z":"ce455d4c.9fb48","name":"","label":"Device Name","group":"a2d7dbe.5177028","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":300,"y":60,"wires":[["76c2109a.d08f6"]]},{"id":"2b9b4f9e.146ed","type":"mqtt out","z":"ce455d4c.9fb48","name":"zigbee2mqtt/in Remove","topic":"zigbee2mqtt/bridge/config/remove","qos":"","retain":"","broker":"7ceabf39.6d12f","x":1190,"y":60,"wires":[]},{"id":"107aea4b.b47576","type":"function","z":"ce455d4c.9fb48","name":"Format Data","func":"flow.set('remove',msg.payload.remove);","outputs":1,"noerr":0,"x":650,"y":60,"wires":[[]]},{"id":"76c2109a.d08f6","type":"change","z":"ce455d4c.9fb48","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.remove","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":60,"wires":[["107aea4b.b47576"]]},{"id":"ca6bbf59.dc81d","type":"function","z":"ce455d4c.9fb48","name":"Format Data","func":"var remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = remove;\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":970,"y":60,"wires":[["2b9b4f9e.146ed"]]},{"id":"137a7160.93877f","type":"ui_button","z":"ce455d4c.9fb48","name":"","group":"a2d7dbe.5177028","order":5,"width":0,"height":0,"passthru":false,"label":"Remove","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":820,"y":60,"wires":[["ca6bbf59.dc81d","96fc65b6.943208"]]},{"id":"95b60511.3dbcc8","type":"comment","z":"ce455d4c.9fb48","name":"Remove Device","info":"","x":120,"y":60,"wires":[]},{"id":"df66c58b.83d408","type":"mqtt in","z":"ce455d4c.9fb48","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","broker":"7739620b.e11e5c","x":290,"y":120,"wires":[["73d92872.9fc238"]]},{"id":"73d92872.9fc238","type":"json","z":"ce455d4c.9fb48","name":"","property":"payload","action":"","pretty":false,"x":450,"y":120,"wires":[["2d6dc71e.becf08"]]},{"id":"d042a0fa.29f3e","type":"ui_toast","z":"ce455d4c.9fb48","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":790,"y":120,"wires":[]},{"id":"2d6dc71e.becf08","type":"function","z":"ce455d4c.9fb48","name":"Notification","func":"if(msg.payload.type == 'device_removed') {\nvar remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = (\"Deviced removed: \" + msg.payload.message);\n\n// Reset field\n//remove = \"\";\n//flow.set('remove',msg.payload.message);\n\nreturn msg;\n}\n}\n\n","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["d042a0fa.29f3e"]]},{"id":"be85ba87.96c238","type":"comment","z":"ce455d4c.9fb48","name":"Notification","info":"","x":110,"y":120,"wires":[]},{"id":"f36c6ec1.15489","type":"ui_toast","z":"ce455d4c.9fb48","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1210,"y":120,"wires":[]},{"id":"96fc65b6.943208","type":"function","z":"ce455d4c.9fb48","name":"Notification","func":"var remove = flow.get('remove');\nif (typeof remove === 'undefined' || remove === null || remove === \"\"){\nmsg.payload = \"Enter a device to remove\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":1010,"y":120,"wires":[["f36c6ec1.15489"]]},{"id":"7f945e34.893af","type":"ui_dropdown","z":"e8a7aa4e.e218f8","name":"","label":"","place":"Select option","group":"27073cb4.ff33e4","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Allow","value":"true","type":"str"},{"label":"Deny","value":"false","type":"str"}],"payload":"","topic":"","x":90,"y":40,"wires":[["e99a3e01.fb481","7d5bca6c.fb7764"]]},{"id":"e99a3e01.fb481","type":"mqtt out","z":"e8a7aa4e.e218f8","name":"zigbee2mqtt/in Join","topic":"zigbee2mqtt/bridge/config/permit_join","qos":"","retain":"","broker":"7ceabf39.6d12f","x":270,"y":40,"wires":[]},{"id":"a2fdb86a.442908","type":"ui_toast","z":"e8a7aa4e.e218f8","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":450,"y":100,"wires":[]},{"id":"7d5bca6c.fb7764","type":"function","z":"e8a7aa4e.e218f8","name":"Notification","func":"if (typeof msg.payload !== 'undefined' && msg.payload !== null && msg.payload !== \"\"){\nif (msg.payload == \"false\"){\n    msg.payload = \"Permit join: Deny\";\n}\nif (msg.payload == \"true\"){\n    msg.payload = \"Permit join: Allow\";\n}\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["a2fdb86a.442908"]]},{"id":"da48ec0c.039a9","type":"ui_text_input","z":"ca781fd9.6b7f","name":"","label":"Old Name","group":"c7990d2f.875df","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":120,"y":140,"wires":[["a85de423.e17aa8"]]},{"id":"b4d34627.cb94a8","type":"ui_text_input","z":"ca781fd9.6b7f","name":"","label":"New Name","group":"c7990d2f.875df","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":130,"y":200,"wires":[["39ab2012.1b2de"]]},{"id":"20c5e49d.9c2dbc","type":"mqtt out","z":"ca781fd9.6b7f","name":"zigbee2mqtt/in Rename","topic":"zigbee2mqtt/bridge/config/rename","qos":"","retain":"","broker":"7ceabf39.6d12f","x":1010,"y":140,"wires":[]},{"id":"995cb01a.fb549","type":"function","z":"ca781fd9.6b7f","name":"Format Data","func":"flow.set('oldname',msg.payload.old);","outputs":1,"noerr":0,"x":470,"y":140,"wires":[[]]},{"id":"a85de423.e17aa8","type":"change","z":"ca781fd9.6b7f","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.old","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[["995cb01a.fb549"]]},{"id":"39ab2012.1b2de","type":"change","z":"ca781fd9.6b7f","name":"change msg new","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.new","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["8dfd35bf.eccd88"]]},{"id":"6beb59f4.cfbf08","type":"function","z":"ca781fd9.6b7f","name":"Format Data","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = {\"old\": oldname, \"new\": newname}\n\n// Reset fields\noldname = \"\";\nnewname = \"\";\nflow.set('oldname',msg.payload.old);\nflow.set('newname',msg.payload.new);\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["20c5e49d.9c2dbc"]]},{"id":"8dfd35bf.eccd88","type":"function","z":"ca781fd9.6b7f","name":"Format Data","func":"flow.set('newname',msg.payload.new);","outputs":1,"noerr":0,"x":490,"y":200,"wires":[[]]},{"id":"43cc514c.70d","type":"ui_button","z":"ca781fd9.6b7f","name":"","group":"c7990d2f.875df","order":5,"width":0,"height":0,"passthru":false,"label":"Rename","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":640,"y":140,"wires":[["6beb59f4.cfbf08","9e1d8f95.c8b4e"]]},{"id":"17629db3.8fd9f2","type":"ui_toast","z":"ca781fd9.6b7f","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":850,"y":200,"wires":[]},{"id":"9e1d8f95.c8b4e","type":"function","z":"ca781fd9.6b7f","name":"Notification","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = (\"Rename Device: \" + oldname + \" to \" + newname);\nreturn msg;\n} else {\nmsg.payload = \"Enter device to rename\";\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["17629db3.8fd9f2"]]},{"id":"a4f32dd8.84cf3","type":"mqtt in","z":"8ae0296.dd23fd8","name":"Switch","topic":"zigbee2mqtt/0x00158d00020415b8","qos":"2","datatype":"auto","broker":"7739620b.e11e5c","x":70,"y":100,"wires":[["4528c738.14af58"]]},{"id":"4528c738.14af58","type":"json","z":"8ae0296.dd23fd8","name":"","property":"payload","action":"","pretty":false,"x":190,"y":100,"wires":[["628d7cc7.5fbd14"]]},{"id":"628d7cc7.5fbd14","type":"switch","z":"8ae0296.dd23fd8","name":"Actions","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"},{"t":"eq","v":"quadruple","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":320,"y":100,"wires":[["a10fec39.5c47f"],["ba6236f.9dcf0c8"],["a00c1e02.a2833"],[]]},{"id":"78d29150.65b44","type":"yeelight-compat-hue-state","z":"8ae0296.dd23fd8","name":"","server":"885c613.e6044a","x":310,"y":400,"wires":[["7e439fd0.b05b2"]]},{"id":"99f11dc8.b803a","type":"function","z":"8ae0296.dd23fd8","name":"Upsert light","func":"const lights = global.get('lights') || [];\n\nconst filteredLights = lights.filter(({ id }) => id === 'weegle_room');\n\nconst lightExist = filteredLights.length > 0;\n\nif(lightExist) {\n    const newLights = lights.map(light => {\n        if(light.id === 'weegle_room') {\n            return Object.assign({id:light.id}, msg.payload)\n        }\n        return light;\n    })\n    global.set('lights', newLights);\n    msg.payload = newLights;\n} else {\n    lights.push(Object.assign({id:'weegle_room'}, msg.payload))\n    global.set('lights', lights);\n    msg.payload = lights;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":400,"wires":[["a5229b91.626f48"]]},{"id":"1c20c82.f148338","type":"inject","z":"8ae0296.dd23fd8","name":"Update cron","topic":"","payload":"{}","payloadType":"json","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["78d29150.65b44"]]},{"id":"a5229b91.626f48","type":"debug","z":"8ae0296.dd23fd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":400,"wires":[]},{"id":"ba6236f.9dcf0c8","type":"function","z":"8ae0296.dd23fd8","name":"Get light bright","func":"const lights = global.get('lights') || [];\n\nconst filteredLights = lights.filter(({ id }) => id === 'weegle_room');\n\nconst { bright } = filteredLights[0];\n\nmsg.payload = bright;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["514003bd.dcabfc"]]},{"id":"514003bd.dcabfc","type":"function","z":"8ae0296.dd23fd8","name":"Compute bright","func":"const currentBright = msg.payload;\n\nlet nextBright = 33;\n\nif(currentBright === 33) {\n    nextBright = 66;\n} else if (currentBright === 66) {\n    nextBright = 100;\n}\n\nmsg.payload = nextBright;\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":80,"wires":[["62553953.939728"]]},{"id":"a10fec39.5c47f","type":"yeelight","z":"8ae0296.dd23fd8","name":"Toggle","command":"toggle","config":"ea5fb048.513a9","x":520,"y":20,"wires":[[]]},{"id":"62553953.939728","type":"yeelight","z":"8ae0296.dd23fd8","name":"Bright","command":"set_bright","config":"ea5fb048.513a9","x":930,"y":80,"wires":[[]]},{"id":"7e439fd0.b05b2","type":"function","z":"8ae0296.dd23fd8","name":"Sanitize state","func":"const { bright, ct } = msg.payload.raw;\n\nconst sanitizedState = {\n    bright: parseInt(bright, 10),\n    ct: parseInt(ct, 10)\n};\n\nmsg.payload = sanitizedState;\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":400,"wires":[["99f11dc8.b803a"]]},{"id":"a00c1e02.a2833","type":"function","z":"8ae0296.dd23fd8","name":"Get light ct","func":"const lights = global.get('lights') || [];\n\nconst filteredLights = lights.filter(({ id }) => id === 'weegle_room');\n\nconst { ct } = filteredLights[0];\n\nmsg.payload = ct;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["f3453e6e.a1b33"]]},{"id":"f3453e6e.a1b33","type":"function","z":"8ae0296.dd23fd8","name":"Compute ct","func":"const currentCt = msg.payload;\n\nlet nextCt = 2600;\n\nif(currentCt === 2600) {\n    nextCt = 2850;\n} else if (currentCt === 2850) {\n    nextCt = 3200;\n} else if (currentCt === 3200) {\n    nextCt = 5200;\n} else if (currentCt === 5200) {\n    nextCt = 6000;\n}\n\nmsg.payload = nextCt;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":120,"wires":[["67cc3a59.1dfc64"]]},{"id":"67cc3a59.1dfc64","type":"yeelight","z":"8ae0296.dd23fd8","name":"CT","command":"set_ct_abx","config":"ea5fb048.513a9","x":900,"y":140,"wires":[[]]}]